<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyjr.zyjroa.common.persistence.dao.CompanyMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zyjr.zyjroa.common.persistence.model.Company">
		<id column="comid" property="comid" />
		<result column="compcode" property="compcode" />
		<result column="compabbr" property="compabbr" />
		<result column="pid" property="pid" />
		<result column="compgrade" property="compgrade" />
		<result column="effectdate" property="effectdate" />
		<result column="lawyer" property="lawyer" />
		<result column="address" property="address" />
		<result column="regaddress" property="regaddress" />
		<result column="tel" property="tel" />
		<result column="fax" property="fax" />
		<result column="isdisable" property="isdisable" />
		<result column="disableddate" property="disableddate" />
		<result column="xorder" property="xorder" />
		<result column="remark" property="remark" />
		<result column="ischange" property="ischange" />
		<result column="regby" property="regby" />
		<result column="regdate" property="regdate" />
		<result column="initialized" property="initialized" />
		<result column="initializedby" property="initializedby" />
		<result column="initializedtime" property="initializedtime" />
		<result column="closed" property="closed" />
		<result column="closedby" property="closedby" />
		<result column="closedtime" property="closedtime" />
		<result column="pids" property="pids" />
	</resultMap>

</mapper>
