@layout("/common/_container.html"){
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal" id="procedureInfoForm">
		
			<input type="hidden" id="temid" value="${temid}">
			<div class="row">
				<div class="col-sm-10" id ="procedureInfo">
					<#input id="temName" name="流程名称" underline="true" />
					<#input id="pName" name="流程所属部门" readonly="readonly" hidden="pid"
                            clickFun="ApproveDlg.showDeptSelectTree(); return false;"
                            style="background-color: #ffffff !important;" underline="true" />
					<#select id="dayType"  name="天数"  underline="true">
					  <option value ="1">a &gt; 数值</option>
					  <option value ="2">a &gt;= 数值</option>
					  <option value="3">a &lt; 数值</option>
					  <option value="4">a &lt;= 数值</option>
					  <option value="5">数值1  &lt; a &lt; 数值2</option>
					  <option value="6">数值1  &lt;= a &lt; 数值2</option>
					  <option value="7">数值1  &lt;= a &lt;= 数值2</option>
					  <option value="8">数值1  &lt; a &lt;= 数值2</option>
					</#select>
					<#input id="firstValue" name="数值1" underline="true" />
					<#input id="secondValue" name="数值2" underline="true" />
					<#button btnCss="white" name="添加审批人" id="addAprrove" icon="fa-check" clickFun="ApproveDlg.addAprrove()"/>
					
				</div>
			</div>

        <!-- 父级部门的选择框 -->
            <div id="parentDeptMenu" class="menuContent"
                 style="display: none; position: absolute; z-index: 200;">
                <ul id="parentDeptMenuTree" class="ztree tree-box" style="width: 245px !important;"></ul>
            </div>

			<div class="row btn-group-m-t">
				<div class="col-sm-10">
					<#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ApproveDlg.addprocedure()"/>
					<#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ApproveDlg.close()"/>
				</div>
			</div>
		</div>

	</div>
</div>
<script src="${ctxPath}/static/modular/system/approve/approve_info.js"></script>
@}
