@layout("/common/_container.html"){
<div class="row">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>申请</h5>
			</div>
								<div class="hidden-xs" id="managerTableToolbar" role="group">
									@if(shiro.hasPermission("/mgr/add")){
									<#button name="填写申请" icon="fa-plus" clickFun="Approve.openApprove()"/>
									@}
									
									@if(shiro.hasPermission("/approve/add_procedure")){
									<#button name="配置流程" icon="fa-plus" clickFun="Approve.addProcedure()"/>
									@}
								</div>
								
								<#table id="managerTable"/>
		</div>
	</div>
</div>
<script src="${ctxPath}/static/modular/system/approve/approve.js"></script>
@}


